<div class="jumbotron">
  <h1 class="display-4">RoRfriends</h1>
  <p class="lead">Friends list CRUD app made with Ruby on Rails.</p>
  <hr class="my-4">
  <p>Have all your contacts listed in one place!</p>
  <%= link_to new_user_registration_path, class:"btn btn-primary btn-lg" do %>
  <%= bootstrap_icon "star-fill" %> Try it!
<% end %>
</div>